
.banner{
  
 
    
    
    }

.botao1{
    background-color: aliceblue !important;
    margin-right: 16px !important;
    }

.botao2{
    background-color: aliceblue !important;
}    
 
.img{
   
    
    border-radius: 16px;
   

}

.Gridimg{
    padding-bottom: 40px;
    padding-top: 10px;
}

