
.home{
    background-color:black;
    text-align: center;
    }

.texto{
    text-align: center;
    color: white;
    margin-bottom: 50px;
   }

   .img{
    display: block;
    margin: 0 auto;
    width: 800px; height: 900px;
    margin-bottom: 50px;
   }